*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
notes_fraud.txt
99_dumped.R
dumped.Rmd
0_my_pubmed_key.R
temp.R
temp2.R
temp3.R
temp4.R
latex*.txt
5_summary_results*.docx
baseline/
paper/
references/
web/